@import './layout/calculator.scss';
@import './layout/dashboard.scss';
@import './layout/history.scss';

body {
  font-size: 14px;
  font-family: 'Montserrat', sans-serif;
  padding: 0;
  margin: 0;

  &.content-app {
    display: grid;
    place-content: center;
    height: 100vh;
  }

  .code {
    font-family: 'Fira Code', monospace;
  }
}
