button,
input,
select {
  font-family: 'Montserrat', sans-serif;
  font-size: 1rem;
  line-height: 125%;
}

button {
  &.action-button {
    padding: 0.6rem 1.2rem;
    aspect-ratio: 1/1;
    margin: 0;
    min-width: 65px;
    border: 0;

    &.primary {
      background-color: $color-gray-700;
      color: $color-gray-100;
      font-size: 1rem;
      text-transform: uppercase;
      border-radius: 10px;
      border: 1px solid $color-gray-400;
      appearance: none;

      &.xs {
        padding: 0.2rem 0.4rem;
        border-radius: 50%;
        min-width: 40px;
      }

      &:not(:disabled) {
        &:hover {
          background-color: $color-gray-600;
        }

        &:active,
        &.select {
          background-color: $color-blue-700;
        }
      }

      &:disabled {
        background-color: $color-gray-900;
        color: $color-gray-500;
      }
    }

    &.secondary {
      border-radius: 50%;
      background-color: $color-blue-600;
      color: $color-gray-100;
      &.xs {
        padding: 0.2rem 0.4rem;
        min-width: 40px;
      }
      &:not(:disabled) {
        &:hover {
          background-color: $color-gray-600;
        }

        &:active,
        &.select {
          background-color: $color-gray-900;
        }
      }
    }

    &.success {
      margin-top: 1rem;
      aspect-ratio: auto;
      width: 100%;
      background-color: $color-blue-600;
      color: $color-white;

      &:not(:disabled) {
        &:hover {
          background-color: $color-blue-800;
        }

        &:active,
        &.select {
          background-color: $color-gray-900;
        }
      }
    }

    &.link {
      padding: 0;
      aspect-ratio: auto;
      background-color: transparent;
      color: $color-blue-600;
      display: inline-block;
      min-width: fit-content;
    }
  }

  &[type='submit'] {
    &.loading {
      .loading {
        display: inline-block;
        animation: loading 1s linear infinite;
      }
    }
  }
}

@keyframes loading {
  100% {
    transform: rotate(360deg);
  }
}
